<div class="footer">
  <div class="content">
    <div class="left contact-info">

      <h4>{{translate 'openingtimes'}}</h4>
      {{translate 'opening_hours'}}
      <h4>{{translate 'contact'}}</h4>
      <p><a href="mailto:info@ravintolavinkkeli.fi">info@ravintolavinkkeli.fi</a></p>
      <p><a href="tel:+358291800222">+358 29 1800222</a><span class="tel-info">({{translate 'telephonecost'}})</span></p>
       <div class="social">
        <a href="https://www.facebook.com/ravintolavinkkeli"><i class="icon-facebook"></i></a>
        <a href="https://www.instagram.com/ravintolavinkkeli/"><i class="icon-instagram"></i></a>
      </div>
    </div>
    <div class="right contact-info">
      <h4>{{translate 'location'}}</h4>
      <div class="address"><a href="https://goo.gl/maps/ADb6Sz8z85v" target="_blank">{{translate 'address'}}</a></div>
      <div id="map"></div>
    </div>
  </div>
  <p class="photo-credit">{{translate 'photostook'}}: Martin Sommerschield</p>
</div>