<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{assetsPath}}{{ fingerprint.[styles/styles.css] }}" rel="stylesheet" type="text/css" />
  <!--<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{gaTrackerId}}', 'auto');
    ga('send', 'pageview');

  </script>-->

  <meta property="og:title" content="{{title}}" />
  <meta property="og:url" content="http://www.ravintolavinkel.fi" />
  <meta property="og:description" content="{{description}}" />
  
  <meta name="description" content="{{description}}" />
  <meta name="rating" content="Safe For Kids" />
  <meta name="author" content="Ravintola Vinkel Helsinki Oy" />
  <meta name="copyright" content="(C) Ravintola Vinkel Helsinki Oy" />
  <meta name="robots" content="index,follow" />
</head>
<body>
  <div class="main-navigation">
    <div class="">
      <img class="logo" src="{{assetsPath}}styles/logo-white.png" alt="Vinkel, ruoka- ja viiniravintola"/>
      <ul class="navigation">
        <li><a href="" class="active">Etusivu</a></li>
        <li><a href="">Ruoka &amp; Viini</a></li>
        <li><a href="">Lounas</a></li>
        <li><a href="">Vinkel</a></li>
      </ul>
    </div>
  </div>
  <div class="main-wrapper">
      {{{ contents }}}
  </div>

  <div class="footer">
    <div class="content">
      <div class="info">
        <h4>Aukioloajat</h4>
        <p class="hours">
          <span>ma</span> 11:30-14:30<br/>
          <span>ti-pe</span> 11:30-14:30 ja 17:00-24:00<br/>
          <span>la</span> 17:00-24:00
        </p>
        <h4>Ota yhteyttä</h4>
        <p><a href="mailto:info@ravintolavinkel.fi">info@ravintolavinkel.fi</a></p>
        <p><a href="tel:+358291800222">029-1800222</a><span class="tel-info">(0,08 €/min. + pvm/mpm)</span></p>
      </div>
      <div class="address">
        <h4>Sijainti</h4>  
        <p>Pieni Roobertinkatu 8, 00130 Helsinki</p>
        <div id="map"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  var map
  function initMap() {
    var styles = [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
    var styledMap = new google.maps.StyledMapType(styles, {name: "Map"})
    var pos = new google.maps.LatLng(60.164181, 24.946187)
    var mapOptions = {
      zoom: 15,
      center: pos,
      mapTypeControl: false,
      mapTypeControlOptions: {
        mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
      }
    }
    map = new google.maps.Map(document.getElementById('map'), mapOptions)
    var marker = new google.maps.Marker({
      position: pos,
      map: map,
      title: 'Vinkel'
    })
    map.mapTypes.set('map_style', styledMap)
    map.setMapTypeId('map_style')
  }


  var buttons = document.getElementsByClassName('reserve-table-button')
  var close = document.getElementsByClassName('close-reserve-table')
  var reserveTableDiv = document.getElementsByClassName('reserve-table')
  if (buttons.length && reserveTableDiv.length) {
    var b = buttons[0]
    var r = reserveTableDiv[0]
    function openReservtions(e) {
      e.preventDefault()
      r.classList.remove('closed')
    }
    function closeReservations(e) {
      e.preventDefault()
      r.classList.add('closed')
    }
    b.addEventListener("click", openReservtions, false)
    close[0].addEventListener("click", closeReservations, false)
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkr155MvQ-F-YZEW9usdhBBuySlZf6Ydc&callback=initMap" async defer></script>
</body>
</html>