<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link href="{{assetsPath}}{{ fingerprint.[styles/main.css] }}" rel="stylesheet" type="text/css" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71560905-1', 'auto');
      ga('send', 'pageview');

    </script>

    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="http://www.ravintolavinkel.fi" />
    <meta property="og:description" content="{{description}}" />
    
    <meta name="description" content="{{description}}" />
    <meta name="rating" content="Safe For Kids" />
    <meta name="author" content="Vinkel Oy" />
    <meta name="copyright" content="(C) Vinkel Oy" />
    <meta name="robots" content="index,follow" />
</head>
<body>
    <div class="main-wrapper">
        {{{ contents }}}
    </div>
</body>
</html>