<!doctype html>
<html lang="{{locale}}">
<head>
  {{#each locales}}
    {{#ifnotlocale this}}
      <link rel="alternate" hreflang="{{this}}" href="{{{langlink this}}}" />
    {{/ifnotlocale}}
  {{/each}}

  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{assetsPath}}{{ fingerprint.[styles/styles.css] }}" rel="stylesheet" type="text/css" />

  <script async src="https://www.googletagmanager.com/gtag/js?id={{gaTrackerId}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { window.dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{gaTrackerId}}');
  </script>

  <meta property="og:title" content="{{title}}" />
  <meta property="og:url" content="http://www.ravintolavinkkeli.fi{{{langlink locale}}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:image" content="http://www.ravintolavinkkeli.fi/styles/og-image.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="1200" />

  <meta name="description" content="{{description}}" />
  <meta name="rating" content="Safe For Kids" />
  <meta name="author" content="Ravintola Vinkkeli Helsinki Oy" />
  <meta name="copyright" content="(C) Ravintola Vinkkeli Helsinki Oy" />
  <meta name="robots" content="index,follow" />
</head>
<body>
  {{> navigation }}
  <div class="main-wrapper">
      {{{ contents }}}
  </div>

  {{> footer }}
  {{> scripts }}
</body>
</html>