<div class="hero hero-lunch"></div>
<div class="main-content">
  {{> reserve-table }}
  <div class="two-column reverse">
    <div class="left-column">
      <div class="lunch-info">
        {{translate 'lunch_info'}}
      </div>
    </div>
    <div class="right-column">
      <div class="special-links">
        {{#each specials}}
          <a href="#{{translate 'anchor' this}}">{{translate 'name' this}}</a>
        {{/each}}
      </div>
    </div>
  </div>

  {{#each specials}}
      <div class="lunch lunch-special">
        <hr />
        <a name="{{translate 'anchor' this}}"><h2>{{translate 'name' this}}</h2></a>
        {{translate 'lunch' this}}
      </div>
  {{/each}}

</div>