 <ul class="navigation">
  {{#iflocale 'fi'}}
  <li><a href="/">{{translate 'frontpage'}}</a></li>
  <li><a href="/fi/menu/">{{translate 'food'}}</a></li>
  <li><a href="/fi/viini/">{{translate 'wine'}}</a></li>
  <li><a href="/fi/lounas/">{{translate 'lunchtitle'}}</a></li>
  {{/iflocale}}
  {{#iflocale 'sv'}}
  <li><a href="/sv/">{{translate 'frontpage'}}</a></li>
  <li><a href="/sv/menu/">{{translate 'food'}}</a></li>
  <li><a href="/sv/vin/">{{translate 'wine'}}</a></li>
  <li><a href="/sv/lunch/">{{translate 'lunchtitle'}}</a></li>
  {{/iflocale}}
  {{#iflocale 'en'}}
  <li><a href="/en/">{{translate 'frontpage'}}</a></li>
  <li><a href="/en/menu/">{{translate 'food'}}</a></li>
  <li><a href="/en/wine/">{{translate 'wine'}}</a></li>
  <li><a href="/en/lunch/">{{translate 'lunchtitle'}}</a></li>
  {{/iflocale}}
  <li><a href="/{{locale}}/vinkkeli/">Vinkkeli</a></li>
</ul>
