 <ul class="navigation">
  {{#iflocale 'fi'}}
  <li><a href="/">{{translate 'frontpage'}}</a></li>
  <li><a href="/fi/ruoka-ja-viini/">{{translate 'food-and-wine'}}</a></li>
  <li><a href="/fi/lounas/">{{translate 'lunchtitle'}}</a></li>
  <li><a href="/fi/kabinetti/">{{translate 'private-events'}}</a></li>
  <li><a href="/fi/lahjakortti/">{{translate 'giftcard'}}</a></li>
  {{/iflocale}}
  {{#iflocale 'sv'}}
  <li><a href="/sv/">{{translate 'frontpage'}}</a></li>
  <li><a href="/sv/mat-och-vin/">{{translate 'food-and-wine'}}</a></li>
  <li><a href="/sv/lunch/">{{translate 'lunchtitle'}}</a></li>
  <li><a href="/sv/kabinett/">{{translate 'private-events'}}</a></li>
  <li><a href="/sv/presentkort/">{{translate 'giftcard'}}</a></li>
  {{/iflocale}}
  {{#iflocale 'en'}}
  <li><a href="/en/">{{translate 'frontpage'}}</a></li>
  <li><a href="/en/food-and-wine/">{{translate 'food-and-wine'}}</a></li>
  <li><a href="/en/lunch/">{{translate 'lunchtitle'}}</a></li>
  <li><a href="/en/private-events/">{{translate 'private-events'}}</a></li>
  <li><a href="/en/gift-card/">{{translate 'giftcard'}}</a></li>
  {{/iflocale}}
</ul>
