<div class="main-navigation">
  <div class="">
    <img class="logo" src="{{assetsPath}}styles/logo-white.png" alt="Vinkkeli, ruoka- ja viiniravintola"/>

    <div class="navigation-desktop">
      {{> main-navigation}}
    </div>

    <div class="navigation-mobile">
      <a href="#" class="hamburger" onclick="openNavigationDrawer()">|||</a>
      <div class="navigation-drawer">
        <a href="#" class="hamburger" onclick="openNavigationDrawer()"><i class="icon-delete"></i></a>
        {{> main-navigation}}
        <ul class="languages-mobile">
        {{#each locales}}
          <li><a rel="alternate" hreflang="{{this}}" href="{{{langlink this}}}">{{this}}</a></li>
        {{/each}}
        </ul>
      </div>
    </div>

  </div>
  <ul class="languages languages-desktop">
    <li class="active"><a href="#" onclick="openLanguageMenu()">{{locale}} <i class="icon-chevron-down"></i></a></li>
    {{#each locales}}
      {{#ifnotlocale this}}
        <li><a rel="alternate" hreflang="{{this}}" href="{{{langlink this}}}">{{this}}</a></li>
      {{/ifnotlocale}}
    {{/each}}
  </ul>
</div>